.container-fluid{
	margin: 0;
	padding: 0;
}

.navbar{
	border-radius: 0px;
	background-color: rgba(106, 172, 235, 0.8);
}

.navbar-brand{
  font-size: 35px;
  color: rgb(9, 25, 46);
  padding-left: 25px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar-brand:hover{
	color: rgb(252, 247, 247);
}

.nav{
	margin: 0;
    padding: 0;
}

.navbar-nav{
  font-size: 25px;
  text-align: center;
  background-color: black;
  margin: 0;
  padding: 0;
}

.navbar-toggle{
	border: 2px solid rgb(9, 25, 46);
	margin-right: 25px;
}

.icon-bar{
	background-color:  rgb(9, 25, 46);
}


.main-title{
  margin-bottom: 15px;
  text-align: center;
  color: rgb(9, 25, 46);
  font-size: 50px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
}

li{
	box-sizing: border-box;
	width: 100%;
}

.menu-item{
	padding: 0;
	margin: 0;
	width: 100%;
	background-color: rgb(98, 55, 177);
	border-bottom: 1px solid black;
	color: rgb(231, 190, 56);
	display: block;
}

.menu-item:hover{
	background-color: rgb(116, 107, 92);
	color: rgb(0, 0, 0);
}



.row{
	margin: 20px;
}

.content-box{
	margin: 20px;
	width: auto;
	height: auto;
	color: rgb(231, 190, 56);
	background-color: rgb(98, 55, 177);
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	padding: 20px;
}

.item-name{
	text-align: center;
	font-size: 20px;
	font-weight: bold;
}

#top{

}
